<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static-files-folder/chart.min.js"></script>
    <style>
        .desp{
            font-size: 32px;
        }
    </style>
</head>
<body>
    <div style="height: 480px;width: 480px">
        <canvas id="myChart" width="200" height="200"></canvas>
    </div>
    <br>
    <div class="desp">
        Based on the previous questions, your test score is 58.
    </div>
    <div class="desp">
    Congratulations, you are in good spirits!
    </div>
    <script>
        const data =  {
            labels: [
                'Severe',
                'Moderate',
                'Mild',
                'None'
            ],
            datasets: [{
                label: 'My First Dataset',
                data: [2, 4, 8,6],
                backgroundColor: [
                    'rgb(255, 99, 132)',
                    'rgb(0,128,0)',
                    'rgb(54, 162, 235)',
                    'rgb(255, 205, 86)'

                ],
                hoverOffset: 4
            }]
        }
        const ctx = document.getElementById('myChart');
        const myChart = new Chart(ctx, {
            type: 'doughnut',
            data: data,

        });

    </script>
</body>
</html>