<!DOCTYPE html>
<html lang = "en">
<script>
    function nextQuestion(){
        let nextId = parseInt(document.getElementById("id").value) + 1
        window.location.href = `/questions/${nextId}`
    }
</script>
<head>
    <meta charset="UTF-8">
	<title>Have A Great Day Quiz</title>
    <link rel="stylesheet" href="/static-files-folder/style.css">
    <link rel="stylesheet" href="/static-files-folder/quiz.css">
</head>
<body>

    <nav class="navbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="/s/welcome.html" class="nav-link">
                    <span class="link-text">Welcome</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/s/resources.html" class="nav-link">
                    <span class="link-text">Resources</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/s/login.html" class="nav-link">
                    <span class="link-text">Login</span>
                </a>
            </li>
        </ul>
    </nav>

    <div id="content-container">
        <h1>TestQ</h1>
        <form>
            {% for choice in choices.choice %}
                <div>
                    <input type="radio" name="choice" value="{{choice}}"> {{choice}}
                </div>
            {% endfor %}
            <input hidden id="id" name="id" value="{{id}}">
        </form>
    
        <button  class="link-text" onclick="nextQuestion()">Next Question</button>
    </div>

</body>

</html>